{_'Testovaci retezec', 69, 'Jiny retezec', CONSTANT, ClassName::CONSTANT, ClassName::$var[0]['key']($arg)->method()->method(), $object->attribute, ClassName::method(), $var, $array[0], $varFunc(), $object->method(), functionName(), functionName()->fluent()}

Zkusit pretypovani (bool) $var.
{_69}
{_CONSTANT}
{_ClassName::CONSTANT}
{_ClassName::method()}
{_$array[0]}
{_$varFunc()}
{_$object->method()}
{_$object->attribute}
{_functionName()}
{_functionName()->fluent()}
{_ClassName::$var[0]['key']($arg)->method()->method()}
{foo 'bar'}
{_n 'singular only'}
