{_'Testovaci retezec', 69, 'Jiny retezec', CONSTANT, Class::CONSTANT, Class::$var[0]['key']($arg)->method()->method(), $object->attribute, Class::method(), $var, $array[0], $varFunc(), $object->method(), function(), function()->fluent()}
{_'Object access %d', $object->access}
	
Zkusit pretypovani (bool) $var.
{_69}
{_CONSTANT}
{_Class::CONSTANT}
{_Class::method()}
{_$array[0]}
{_$varFunc()}
{_$object->method()}
{_$object->attribute}
{_function()}
{_function()->fluent()}
{_Class::$var[0]['key']($arg)->method()->method()}
