<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php"
			colors="true"
			convertErrorsToExceptions="true"
			convertNoticesToExceptions="true"
			convertWarningsToExceptions="true"
			stopOnFailure="false"
			backupGlobals="false"
			backupStaticAttributes="false"
			strict="true"
			verbose="true">
	<testsuite>
		<directory>tests/unit</directory>
		<directory>tests/integration</directory>
	</testsuite>
</phpunit>
