
{_'A message!'}
{_p'context', 'Another message!'}
{_n'I see %d little indian!', 'I see %d little indians!', 3}
{_np'context', 'I see %d little indian!', 'I see %d little indians!', $number}

{_$foo}
{_p'context', $bar}
{_np$baz, 'I see %d little indian!', 'I see %d little indians!', 3}

