{_'Testovaci retezec', 69, 'Jiny retezec', CONSTANT, Class::CONSTANT, Class::$var[0]['key']($arg)->method()->method(), Class::method(), $var, $array[0], $varFunc(), $object->method(), function(), function()->fluent()}
Zkusit pretypovani (bool) $var.